{% extends 'base.html' %}
{% block content %}
<div class="container">    
    <div class="panel">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="{% url 'doTest' %}">Request</a></li>
            <li role="presentation"><a href="#">Quote</a></li>
            <li role="presentation"><a href="#">Order</a></li>
            <li role="presentation"><a href="#">Return</a></li>
        </ul>
    </div>
</div>    
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">Search options</div>
        <div class="panel-body">这里是条件.</div>
    </div>
    <div class="panel panel-success">
         <div class="panel-heading">Search results</div>
         <div class="panel-body">这里是结果.</div>
    </div>
</div>    
{% endblock %}  
