<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin for Zuczug sales fouce</title>
    <link href="/static/images/favicon.ico" rel="icon">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/zuczug.css" rel="stylesheet">
    <script src="/static/js/angular.min.js"></script>
  </head>  
  {% block body %}<body>{% endblock %}
    {% block content %}{% endblock %}
  </body>
</html>
